html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
[data-js="root"] {
  height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
}
